.navBar {
  background-color: #3b0032;
  &-title {
    color: #ebeaa9;
    font-size: 25px;
    margin-right: 20px;
  }
  &-link {
    color: #ebeaa9;
  }
}

.teste {
  font-size: 30px;
  margin-right: 50px;
}
