.stock {
  background-color: #0e0b29;
  &-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    &__span {
      font-size: calc(25px + 1vw);
      color: #ebeaa9;
    }
  }
  &-table {
    text-align: center;
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin: 0 auto;
    font-size: calc(5px + 1vw);
    border: 1px solid;

    th{
      background-color: #3b0032;
      color: #ebeaa9
    }

    tr:nth-child(even) {background-color: #ebeaa9;}
    tr:nth-child(odd) {background-color: #EBEAA0;}
    tr:hover {background-color: #EBEA99;}
  }
  &-subtitle {
    margin: 5vh 0vh 1vh 2vh;
    text-align: center;
    &__span {
      font-size: calc(10px + 1vw);
      color: #ebeaa9;
    }
  }
  &-form {
    text-align: center;
    margin-bottom: 10vh;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
