.menu {
  background-color: #0e0b29;
  width: 100%;
  min-height: 100vh;
  &-title {
    text-align: center;
    margin-top: 20px;
    &__span {
      font-size: calc(25px + 1vw);
      color: #ebeaa9;
    }
  }
  &-subtitle {
    margin: 2vh 0vh 0vh 2vh;
    &__span {
      font-size: calc(15px + 1vw);
      color: #ebeaa9;
    }
  }

  &-itens {
    display: flex;
    flex-wrap: wrap;
    margin: 4vh 6vh 0vh 7vh;
  }
}
